<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      page six: menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">page six: menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" pager="true"  pager="false" #mySlider>
        <ion-back-button defaultHref="tabs/five"></ion-back-button>
        <a href="" class="button button-outline button-positive">
          <ion-button>
            next
            <ion-icon slot="end"></ion-icon>
          </ion-button>
        </a>
        <a href="tabs/tableOfContents" class="button button-outline button-positive">
          <ion-button>
            tableOfContents
            <ion-icon slot="end"></ion-icon>
          </ion-button>
        </a>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
    <!-- Disabled and readonly textarea in an item with a stacked label -->
    <ion-item>
      <ion-label position="stacked">IonicMenu</ion-label>
      <ion-textarea  rows="100" scroll="true"
        warning
        readonly
        value='
        <!--https://ionicframework.com/docs/v4/api/menu-->
        import React from "react";
        import { IonMenu, IonHeader, IonToolbar, IonTitle, IonContent, IonList, IonItem, IonRouterOutlet } from "@ionic/react";

        export const MenuExample: React.FC = () => (
          <>
            <IonMenu side="start" menuId="first">
              <IonHeader>
                <IonToolbar color="primary">
                  <IonTitle>Start Menu</IonTitle>
                </IonToolbar>
              </IonHeader>
              <IonContent>
                <IonList>
                  <IonItem>Menu Item</IonItem>
                  <IonItem>Menu Item</IonItem>
                  <IonItem>Menu Item</IonItem>
                  <IonItem>Menu Item</IonItem>
                  <IonItem>Menu Item</IonItem>
                </IonList>
              </IonContent>
            </IonMenu>

            <IonMenu side="start" menuId="custom" class="my-custom-menu">
              <IonHeader>
                <IonToolbar color="tertiary">
                  <IonTitle>Custom Menu</IonTitle>
                </IonToolbar>
              </IonHeader>
              <IonContent>
                <IonList>
                  <IonItem>Menu Item</IonItem>
                  <IonItem>Menu Item</IonItem>
                  <IonItem>Menu Item</IonItem>
                  <IonItem>Menu Item</IonItem>
                  <IonItem>Menu Item</IonItem>
                </IonList>
              </IonContent>
            </IonMenu>

            <IonMenu side="end" type="push">
              <IonHeader>
                <IonToolbar color="danger">
                  <IonTitle>End Menu</IonTitle>
                </IonToolbar>
              </IonHeader>
              <IonContent>
                <IonList>
                  <IonItem>Menu Item</IonItem>
                  <IonItem>Menu Item</IonItem>
                  <IonItem>Menu Item</IonItem>
                  <IonItem>Menu Item</IonItem>
                  <IonItem>Menu Item</IonItem>
                </IonList>
              </IonContent>
            </IonMenu>
            <IonRouterOutlet></IonRouterOutlet>
          </>
        );
        '
       
      ></ion-textarea>
    </ion-item>

  <app-explore-container name="six page"></app-explore-container>
</ion-content>
